<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongduk.myfancy.dao.mybatis.mapper.EmployeeMapper">

  
  <select id="getEmployee" resultType="com.dongduk.myfancy.domain.Employee">
  	SELECT EMPLOYEE.EMP_ID,
  		STORE.STORE_ID,
  		EMPLOYEE.EMP_NAME,
  		EMPLOYEE.ADDRESS,
  		EMPLOYEE.PHONENUM,
  		EMPLOYEE.EMAIL,
  		EMPLOYEE.WORKTIME,
  		EMPLOYEE.BANKACCOUNT,
  		EMPLOYEE.SALARY
  	FROM EMPLOYEE, STORE
  	WHERE STORE.STORE_ID = #{param2} AND EMPLOYEE.EMP_ID = #{param1}
  </select>
  
  <select id="getEmployeeList" resultType="com.dongduk.myfancy.domain.Employee">
  	SELECT EMPLOYEE.EMP_ID,
  		STORE.STORE_ID,
  		EMPLOYEE.EMP_NAME,
  		EMPLOYEE.ADDRESS,
  		EMPLOYEE.PHONENUM,
  		EMPLOYEE.EMAIL,
  		EMPLOYEE.WORKTIME,
  		EMPLOYEE.BANKACCOUNT,
  		EMPLOYEE.SALARY
  	FROM EMPLOYEE, STORE
  	WHERE STORE.STORE_ID = #{param1}
  	ORDER BY EMPLOYEE.EMP_ID
  </select>
  
  <insert id="insertEmployee" parameterType="com.dongduk.myfancy.domain.Employee">
  	INSERT INTO EMPLOYEE
  		(EMP_ID, STORE_ID, EMP_NAME, ADDRESS, PHONENUM, EMAIL, WORKTIME, BANKACCOUNT, SALARY)
  	VALUES
  		(emp_seq.nextval, #{store_id}, #{emp_name}, #{address}, #{phonenum}, #{email}, #{worktime}, #{bankaccount}, #{salary})
  </insert>
  
  <update id="updateWorkTime">
  	UPDATE EMPLOYEE SET
  		WORKTIME += #{param2}
  	WHERE EMP_ID = #{param1}
  </update>
  
  <update id="updateEmployee" parameterType="com.dongduk.myfancy.domain.Employee">
  	UPDATE EMPLOYEE SET
  	 EMP_NAME = #{emp_name}, 
  	 ADDRESS = #{address}, 
  	 PHONENUM = #{phonenum}, 
  	 EMAIL = #{email}, 
  	 WORKTIME = #{worktime}, 
  	 BANKACCOUNT = #{bankaccount}, 
  	 SALARY = #{salary}
  	WHERE EMP_ID = #{emp_id}
  </update>
  
  <delete id="removeEmployee">
  	DELETE FROM EMPLOYEE WHERE STORE_ID = #{param2} AND EMP_ID = #{param1}
  </delete>

</mapper> 