<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongduk.myfancy.dao.mybatis.mapper.SalaryMapper">

  
  <!-- <insert id="insertSalary" parameterType="com.dongduk.myfancy.domain.Employee">
  	INSERT INTO SALARY
  		(SALARY_ID, EMP_ID, SALARY_DATE, AMOUNT, STORE_ID, BANKACCOUNT, SALARY, WORKTIME)
  	VALUES
  		(TO_CHAR(#{store_id}) || '_' || TO_CHAR(SYSDATE, 'yyyyMM') || '_' || TO_CHAR(emp_seq.currval), emp_seq.currval, TO_CHAR(SYSDATE, 'yyyyMM'), 0, #{store_id}, #{bankaccount}, #{salary}, #{worktime})
  </insert> -->

  <select id="getSalaryListByMonth" resultType="com.dongduk.myfancy.domain.Salary">
  	SELECT SALARY.SALARY_ID,
  		EMPLOYEE.EMP_ID,
  		EMPLOYEE.EMP_NAME,
  		SALARY.WORKTIME,
  		SALARY.BANKACCOUNT,
  		SALARY.SALARY,
  		SALARY.SALARY_DATE,
  		SALARY.AMOUNT
  	FROM EMPLOYEE, SALARY
  	WHERE EMPLOYEE.EMP_ID = SALARY.EMP_ID AND EMPLOYEE.STORE_ID = #{param1} AND TO_CHAR(SALARY.SALARY_DATE, 'yyyyMM') = #{param2}
  	ORDER BY EMPLOYEE.EMP_ID
  </select>
  
  <update id="updateWorkTimeForSalary">
  	UPDATE SALARY SET
  		WORKTIME = #{param3}
  	WHERE SALARY_ID = TO_CHAR(#{param2}) || '_' || TO_CHAR(SYSDATE, 'yyyyMM') || '_' || TO_CHAR(#{param1})
  </update>
  
  <update id="updateAmount">
  	UPDATE SALARY SET
  		AMOUNT = WORKTIME * SALARY
  	WHERE SALARY_ID = TO_CHAR(#{param2}) || '_' || TO_CHAR(SYSDATE, 'yyyyMM') || '_' || TO_CHAR(#{param1})
  </update>
  
  <update id="updateBankAndSalary" parameterType="com.dongduk.myfancy.domain.Employee">
  	UPDATE SALARY SET
  		BANKACCOUNT = #{bankaccount},
  		SALARY = #{salary}
  	WHERE SALARY_ID = TO_CHAR(#{store_id}) || '_' || TO_CHAR(SYSDATE, 'yyyyMM') || '_' || TO_CHAR(#{emp_id})
  </update>

</mapper> 