<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongduk.myfancy.dao.mybatis.mapper.SalaryMapper">

  
  
  <insert id="insertSalary">
  	INSERT INTO SALARY
  		(SALARY_ID, EMP_ID, SALARY_DATE, AMOUNT, STORE_ID, WORKTIME, BANKACCOUNT, SALARY)
  	VALUES
  		(CONCAT(TO_CHAR(SYSDATE, 'yyyyMM'), CONCAT('_', emp_seq.currval)), emp_seq.currval, TO_CHAR(SYSDATE, 'yyyyMM'), 0, #{store_id}, #{worktime}, #{bankaccount}, #{salary})
  </insert>
  

  <select id="getSalaryListByMonth" resultType="com.dongduk.myfancy.domain.Salary">
  	SELECT SALARY.SALARY_ID,
  		EMPLOYEE.EMP_ID,
  		EMPLOYEE.EMP_NAME,
  		SALARY.WORKTIME,
  		SALARY.BANKACCOUNT,
  		SALARY.SALARY,
  		SALARY.SALARY_DATE,
  		SALARY.AMOUNT
  	FROM EMPLOYEE, SALARY
  	WHERE EMPLOYEE.EMP_ID = SALARY.EMP_ID AND EMPLOYEE.STORE_ID = #{param1} AND TO_CHAR(SALARY.SALARY_DATE, 'yyyyMM') = #{param2}
  	ORDER BY EMPLOYEE.EMP_ID
  </select>

</mapper> 